<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MultiUserDBEntities" connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MultiUserDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OLDToNEWMappingEntities" connectionString="metadata=res://*/DataModel.ModelOLDToNewMapping.csdl|res://*/DataModel.ModelOLDToNewMapping.ssdl|res://*/DataModel.ModelOLDToNewMapping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB01\SQL2K16DEV;initial catalog=OLDToNEWMapping;user id=sa;password=P@ssw0rd!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MIGGLDBEntities" connectionString="metadata=res://*/DataModel.ModelMIGULDB.csdl|res://*/DataModel.ModelMIGULDB.ssdl|res://*/DataModel.ModelMIGULDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB01\SQL2K16DEV;initial catalog=MIGGLDB;user id=sa;password=P@ssw0rd!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>