<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MultiUserDBEntities1" connectionString="metadata=res://*/DataModels.PLDataModels.Model1.csdl|res://*/DataModels.PLDataModels.Model1.ssdl|res://*/DataModels.PLDataModels.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MultiUserDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MultiUserDBEntities1" connectionString="metadata=res://*/DataModels.PLDataModels.Model1.csdl|res://*/DataModels.PLDataModels.Model1.ssdl|res://*/DataModels.PLDataModels.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MultiUserDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MultiUserDBEntities" connectionString="metadata=res://*/DataModels.ModelMultiUserDB.csdl|res://*/DataModels.ModelMultiUserDB.ssdl|res://*/DataModels.ModelMultiUserDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MultiUserDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MIGULDBDevEntities" connectionString="metadata=res://*/DataModels.ModelMGULDBDev.csdl|res://*/DataModels.ModelMGULDBDev.ssdl|res://*/DataModels.ModelMGULDBDev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MIGULDBDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MIGULDBEntities" connectionString="metadata=res://*/DataModels.ModelMIULDBDevPL.csdl|res://*/DataModels.ModelMIULDBDevPL.ssdl|res://*/DataModels.ModelMIULDBDevPL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=MIGULDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MIGULDBEntitiesNew" connectionString="metadata=res://*/DataModels.PLDataModels.ModelPLMIGULDB.csdl|res://*/DataModels.PLDataModels.ModelPLMIGULDB.ssdl|res://*/DataModels.PLDataModels.ModelPLMIGULDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=MIGULDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISL_PORTALEntities" connectionString="metadata=res://*/DataModels.ModelISLPortal.csdl|res://*/DataModels.ModelISLPortal.ssdl|res://*/DataModels.ModelISLPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=ISL_PORTAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ILIASEntities" connectionString="metadata=res://*/DataModels.ModelIlias.csdl|res://*/DataModels.ModelIlias.ssdl|res://*/DataModels.ModelIlias.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=ILIAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISLGLDB2Entities" connectionString="metadata=res://*/DataModels.PLDataModels.ModelISLGLDB2.csdl|res://*/DataModels.PLDataModels.ModelISLGLDB2.ssdl|res://*/DataModels.PLDataModels.ModelISLGLDB2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB01\SQL2K16DEV;initial catalog=ISLGLDB2;user id=sa;password=P@ssw0rd!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OLDToNEWMappingEntities" connectionString="metadata=res://*/DataModels.ModelClientMapping.csdl|res://*/DataModels.ModelClientMapping.ssdl|res://*/DataModels.ModelClientMapping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB01\SQL2K16DEV;initial catalog=OLDToNEWMapping;user id=sa;password=P@ssw0rd!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>